@model KilerOnline.Entities.Concrete.Product

@{
    ViewData["Title"] = "UpdateProduct";
}
<link href="~/css/edit.css" rel="stylesheet" />
<h1>Ürün Güncelle</h1>

<h4>Ürün</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExplanation" class="control-label"></label>
                <input asp-for="ProductExplanation" class="form-control" />
                <span asp-validation-for="ProductExplanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Dosya Yükle</label>
                <input type="file" name="formFile" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <input asp-for="RegionId" class="form-control" />
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="Admin" asp-action="Index" class="btn btn-danger">Ana Sayfa</a>
            </div>
        </form>
    </div>
</div>


