
@{
    ViewData["Title"] = "_imagediv";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    @foreach (var product in Model)
    {
        <div class="responsive">
            <div class="gallery">
                <img src="~/img/Products/@product.ImageUrl" alt="@product.Name">
                <div class="desc">@product.Name</div>
                <div class="desc">@product.ProductExplanation</div>
            </div>
        </div>
    }
</body>
</html>