
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - My Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>